{
  "openapi": "3.0.0",
  "info": {
    "title": "IRIS API",
    "version": "1.0",
    "description": "The complete IRIS API.",
    "contact": {
      "name": "Global EDI & Integration Support",
      "email": "edi.support.ff.hq@geodis.com",
      "url": "https://www.geodis.com"
    },
    "termsOfService": "The IRIS API is intended only for clients of GEODIS and access to the services offered through the API need to be approved and activated by GEODIS before they can be utilized."
  },
  "servers": [
    {
      "url": "https://iris-ts2.ff.geodis.com/iris"
    }
  ],
  "paths": {
    "/api/default": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_Get",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/NotFound": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestNotFound",
        "responses": {
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/NotFoundInfo": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestNotFoundInfo",
        "responses": {
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/NotFoundInfoJSON": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestNotFoundInfoJson",
        "responses": {
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/Ok": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestOk",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/OkInfo": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestOkInfo",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/OkInfoJson": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestOkInfoJson",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/testokjsonvalue": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_Test",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/testokjson": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestOkJson",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/testokobject": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_TestOkObject",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/decodejwttoken": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_DecodeAccessToken",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/default/PolicyIrisShipment": {
      "get": {
        "tags": [
          "Default"
        ],
        "operationId": "Default_PolicyIrisShipment",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisBanners": {
      "get": {
        "tags": [
          "IrisBanners"
        ],
        "operationId": "IrisBanners_GetIrisBannerAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IrisBanner"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "IrisBanners"
        ],
        "operationId": "IrisBanners_PostIrisBanner",
        "requestBody": {
          "x-name": "irisBanner",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisBanner"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "201": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisBanners/{id}": {
      "get": {
        "tags": [
          "IrisBanners"
        ],
        "operationId": "IrisBanners_GetIrisBanner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrisBanner"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "IrisBanners"
        ],
        "operationId": "IrisBanners_PutIrisBanner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "irisBanner",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisBanner"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          },
          "201": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "IrisBanners"
        ],
        "operationId": "IrisBanners_DeleteIrisBanner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisBanners/UploadBanner": {
      "post": {
        "tags": [
          "IrisBanners"
        ],
        "operationId": "IrisBanners_UploadBanner",
        "parameters": [
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "schema": {
              "type": "string",
              "format": "binary",
              "nullable": true
            },
            "nullable": true
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup": {
      "get": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_GetIrisCompany",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup/addGroup": {
      "post": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_IrisCompanyAddGroup",
        "requestBody": {
          "x-name": "companyGroupDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisCompanyGroupAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelStateDictionary"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup/addOrg": {
      "post": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_IrisCompanyAddOrg",
        "requestBody": {
          "x-name": "companyGroupDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisCompanyGroupAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelStateDictionary"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup/updateGroup": {
      "post": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_IrisCompanyUpdateGroup",
        "requestBody": {
          "x-name": "companyGroupUpdateDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisCompanyGroupUpdateDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelStateDictionary"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup/deleteGroup/{id}": {
      "delete": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_IrisCompanyDeleteGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup/deleteOrg/{id}": {
      "delete": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_IrisCompanyDeleteOrg",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup/{id}": {
      "get": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_GetIrisCompanyGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrisCompanyGroup"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisCompanyGroup/findorg": {
      "post": {
        "tags": [
          "IrisCompanyGroup"
        ],
        "operationId": "IrisCompanyGroup_FindOrganization",
        "requestBody": {
          "x-name": "filterDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationFilterDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilteredOrganisationDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelStateDictionary"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/all": {
      "get": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_GetIrisModuleAndParts",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/byid/{id}": {
      "get": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_GetIrisModuleAndPartsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodule/{id}": {
      "get": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_GetIrisModule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodulepart/{id}": {
      "get": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_GetIrisModulParte",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodule_add": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModuleAdd",
        "requestBody": {
          "x-name": "irisModuleAdd",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModuleAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodule_update": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModuleUpdate",
        "requestBody": {
          "x-name": "irisModuleUpdate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModuleUpdateDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodulepart_add": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModulePartAdd",
        "requestBody": {
          "x-name": "irisModulePartAdd",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModulePartAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodulepart_update": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModulePartUpdate",
        "requestBody": {
          "x-name": "irisModulePartUpdate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModulePartUpdateDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodulepartpermission_add": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModulePartPermissionAdd",
        "requestBody": {
          "x-name": "permissionAddDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModulePartPermissionAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodulepartpermission_update": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModulePartPermissionUpdate",
        "requestBody": {
          "x-name": "permissionAddDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModulePartPermissionAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodulepartsetting_add": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModulePartSettingAdd",
        "requestBody": {
          "x-name": "irisModulePartSetting",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModulePartSettingAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodulepartsetting_update": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_IrisModulePartSettingUpdate",
        "requestBody": {
          "x-name": "irisModulePartSetting",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrisModulePartSettingAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/irismodule_configfile": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "summary": "fileName = Module.json",
        "operationId": "IrisModule_FetchConfiguration",
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IrisModule"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/{id}": {
      "delete": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_DeleteIrisModule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/modulepart/{id}": {
      "delete": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_DeleteIrisModulePart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/icons": {
      "get": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_GetIrisIcons",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/translatedMenu": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_GetMenuByCulture",
        "parameters": [
          {
            "name": "Culture",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/menu": {
      "get": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_GetMenu",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/menu_add": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_MenuAdd",
        "requestBody": {
          "x-name": "MenuAdd",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuListDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/menu_update": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_MenuUpdate",
        "requestBody": {
          "x-name": "MenuUpdate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuListDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/menu_fullsave": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_MenuFullSave",
        "requestBody": {
          "x-name": "MenuUpdate",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MenuListAddDto"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/reloadLanguageFiles": {
      "post": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_ReloadLanguageFiles",
        "requestBody": {
          "x-name": "Module",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReloadLanguageFilesDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/menu/{id}": {
      "delete": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_DeleteMenu",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/menu/{menuid}/submenu/{submenuid}": {
      "delete": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_DeleteSubMenu",
        "parameters": [
          {
            "name": "menuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "submenuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisModule/submenu": {
      "delete": {
        "tags": [
          "IrisModule"
        ],
        "operationId": "IrisModule_DeleteSubMenu2",
        "requestBody": {
          "x-name": "SubMenu",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubMenuDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisRoles/byid/{id}": {
      "get": {
        "tags": [
          "IrisRoles"
        ],
        "operationId": "IrisRoles_GetIrisRolesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisRoles/IrisRole_Add": {
      "post": {
        "tags": [
          "IrisRoles"
        ],
        "operationId": "IrisRoles_IrisRoleAdd",
        "requestBody": {
          "x-name": "irisRoleAdd",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AspNetRolesAddDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisRoles/IrisRole_Update": {
      "post": {
        "tags": [
          "IrisRoles"
        ],
        "operationId": "IrisRoles_IrisRoleUpdate",
        "requestBody": {
          "x-name": "irisRoleUpdate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AspNetRolesUpdateDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/IrisRoles/{id}": {
      "delete": {
        "tags": [
          "IrisRoles"
        ],
        "operationId": "IrisRoles_DeleteIrisRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/blue2/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "summary": "[dbo].[BLUE2_Shipment]\n GET: api/shipment/blue2/{jspk}",
        "operationId": "IrisShipments_GetBLUE2l",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blue2Shipment"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/container/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetContainer",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactContainer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/consol/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetConsol",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactConsol"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/milestone/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetMilestones",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactMilestone"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/note/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetNotes",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactNote"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/order/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetOrder",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactOrder"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/orderline/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetOrderOrderline",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactOrderLine"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/packline/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetPackLine",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactPackLine"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/consol/reference/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetReference",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactReference"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetIrisShipment",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactShipment"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/routing/{jspk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetRoutings",
        "parameters": [
          {
            "name": "jspk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactTransportLeg"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/consol/routing/{jkpk}": {
      "get": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetConsolRouting",
        "parameters": [
          {
            "name": "jkpk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactTransportLeg"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/myshipments": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_MyShipments",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MyShipmentsFilterDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MyShipmentDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/shipmentbyref": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_ShipmentFindByReference",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentByRefDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/listshipments": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_ListShipments",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/generalsearch_details": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "summary": "General search details for shipment, container or consol\nSearchValue shipment, container or consol reference",
        "operationId": "IrisShipments_GeneralSearch",
        "requestBody": {
          "x-name": "searchDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralSearchDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralSearchResultDto"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/generalsearch_milestones": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "summary": "Retrive milestones for shipment container or consol\nSearchValue shipment, container or consol reference",
        "operationId": "IrisShipments_GetMilestonesAll",
        "requestBody": {
          "x-name": "searchDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralSearchDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MilestoneDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/generalsearch_mapdata": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "summary": "Get map data for shipment, container or consol\nSearchValue shipment, container or consol reference",
        "operationId": "IrisShipments_GetMapData",
        "requestBody": {
          "x-name": "searchDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralSearchDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapDataDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentDetail": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentDetail",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDetailsDto"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentGoods": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentGoods",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentGoodsDto"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentTransportGraph": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentTransportGraph",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentTransportGraphDto"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentMilestones": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentMilestones",
        "requestBody": {
          "x-name": "ShipmentDetailValidationWithDeclarations",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationWithDeclarationsDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDetailsMilestonesDto"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentDeviations": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentDeviations",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentDeviationsDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentRouting": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentRouting",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentRoutingDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentEmissions": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentEmissions",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentEmissionsDto"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentReferences": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentReferences",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentReferencesDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentCommercialInvoices": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetCommercialInvoices",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentCommercialInvoicesDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentComments": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentComments",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentCommentsDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentEvents": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentEvents",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentCommentsDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentISF": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentISF",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentISFDto"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentCharges": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentCharges",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDetailValidationDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentChargesDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/shipment/ShipmentInvoices": {
      "post": {
        "tags": [
          "IrisShipments"
        ],
        "operationId": "IrisShipments_GetShipmentInvoices",
        "requestBody": {
          "x-name": "ShipmentDetailValidationDto",
          "content": {
            "application/json": {
              "schema": {
[...]
